docs/build
deploy_keys.txt
examples/.ipynb*
examples/*Copy*.ipynb
examples/logs/*
examples/*.h5
examples/play*
examples/new*
examples/archive
examples/Untitled*
data/Tatoeba
data/MIT-normal_sinus_rhythm
data/pretrained
data/mnist
data/fashion_mnist
data/pfam
test/logs
test/save_lenet.jld2
codecov.token
logs
.vscode
try


No-*